/* 
Change the background color of your webpage
Change the font and font color of your headings and paragraphs
Constrain the description to the width of the image
Make the image and ingredients appear on the left
Make the instructions appear on the right
*/
* {
    background-color:burlywood;
}
p, h1, h2 {
    font-family: fantasy;
    color:maroon;
}
.description {
    width: 600px;
}
h1#recipe-title {
    font-size: 100px;
}
.left {
    width: 600px;
    float: left;
    margin-top: 30px;
}
.right {
    width: 600px;
    float: left;
    margin-left: 30px;

}
.ingredient-list li label {
    font-family: fantasy;
    color:maroon;
}

@media (max-width: 1320px) {
    img {
        width: fit-content;
        position: relative;
    }
    .left {
        width: fit-content;
        float: none;
    }
    .right {
        margin-left: 1px;
        width: fit-content;
        float: none;
    }
    .description {
        width: fit-content;
    }
    h1#recipe-title {
        font-size: 100px;
    }
}

